		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		html, body{
			background: fuchsia;
			scroll-behavior: smooth;
		}
		.wrapper{
			width: 1200px;
			margin: 0 auto;
			background: white;
			padding: 50px 0;
		}

		.t_cell{
			background: lightcyan;
			padding: 20px 0;
			font-size: 0;
		}

		.in_t{
			background: lightsalmon;
			outline: 2px solid red;
			width: 400px;
			display: inline-block;
			font-size: 15px;
		}

		.a_cell{
			background: lightgreen;
			padding: 20px 0;
			font-size: 0;
			text-align: center;
			}

		.in_a{
			background: white;
			outline: 2px solid red;
			width: 600px;
			display: inline-block;
			font-size: 15px;
		}

		.b_cell{
			background: lightyellow;
			padding: 20px 0;
			font-size: 0;
		}

		.in_b{
			background: white;
			outline: 2px solid red;
			width: 600px;
			display: inline-block;
			font-size: 15px;
		}

		.in_in_b{
			background: yellow;
			padding: 10px 0;
			outline: 2px solid red;
			display: inline-block;
			width: 300px;
			font-size: 15px;
		}

		.b{
            font-size: 0;
		}

	    .l_cell{
			background: lightpink;
			padding: 20px 0;
			font-size: 0;
		}
		
		.in_l{
			background: lightgoldenrodyellow;
			outline: 2px solid red;
			width: 600px;
			display: inline-block;
			font-size: 15px;
		}

		.in_in_l{
			background: yellow;
			padding: 10px 0;
			outline: 2px solid red;
			display: inline-block;
			width: 300px;
			font-size: 15px;
		}

		.l{
            font-size: 0;
		}

		p{
			padding: 10px 0;
		}